# All maintainers
.vscode/* @neuroverse-fm/apt-swarm-maintainers
docs/* @neuroverse-fm/apt-swarm-maintainers
.github/* @neuroverse-fm/apt-swarm-maintainers

# Actions dev
.github/actions/* @KTrain5169

# Other code owners will be handled via an action
