# All maintainers
.vscode/* @apt-swarm/repo-maintainers
.github/* @apt-swarm/repo-maintainers

# The public key should not be modified in most circumstances
apt-swarm-public-key.asc @KTrain5169

# no codeowners action needed
repos.json @apt-swarm/repo-maintainers