/* Dark mode colors. */
:root {
  --sl-color-accent-low: #1a2819;
  --sl-color-accent: #437942;
  --sl-color-accent-high: #bccfbb;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #ebefea;
  --sl-color-gray-2: #bec4bd;
  --sl-color-gray-3: #858f83;
  --sl-color-gray-4: #525b50;
  --sl-color-gray-5: #333b31;
  --sl-color-gray-6: #212920;
  --sl-color-black: #161915;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #cddbcc;
  --sl-color-accent: #427841;
  --sl-color-accent-high: #223921;
  --sl-color-white: #161915;
  --sl-color-gray-1: #212920;
  --sl-color-gray-2: #333b31;
  --sl-color-gray-3: #525b50;
  --sl-color-gray-4: #858f83;
  --sl-color-gray-5: #bec4bd;
  --sl-color-gray-6: #ebefea;
  --sl-color-gray-7: #f5f7f4;
  --sl-color-black: #ffffff;
}
